@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap");

.f-MPplus {
    font-family: "M PLUS Rounded 1c", sans-serif;
}

.bg-primarycust {
    background: linear-gradient(to bottom, #006266, #1b1464);
}
.bg-primarycust-non-gr {
    background-color: #006266;
}
.border-cust {
    border-radius: 4em;
}

.btn-primarycust {
    color: #fff;
    background-color: #006266;
    border-color: #025255;
}
.nav-link.active {
    color: #000000 !important;
    background-color: #fff !important;
    border-color: #dddfeb #dddfeb #fff !important;
}
.bg-login-image {
    background: url('../img/paerik.png');
    background-position: center;
    background-size: cover;
}
